body{
    background-color:  #001433;
    color: #4DFF00;
    font-family: arial;
}

h1{
    color: #4DFF00;
    font-family: cursive;
}

p{
    color: #A5ACAF;
    font-family: arial;
}

a{
    font-family: arial;
    color: #4DFF00;
    text-decoration: none;
}
